<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="components/bootstrap/css/bootstrap.min.css"
        rel="stylesheet" media="screen">

  <link href="components/codemirror/lib/codemirror.css"
        rel="stylesheet" media="screen">
 
  <link rel="stylesheet" href="components/codemirror/theme/twilight.css">

  <link href="css/style.css"
        rel="stylesheet" media="screen">


</head>
<body>

  <div id="ol-map">
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <a class="brand" href="#"></a>
          </div>
        </div>
      </div>

      <div id="map-info"></div>

      <div id="layer-tree-wrapper">

        <div id="map-tool-bar">
          <button id="map-properties" class="btn">Map Properties</button>
          <button id="add-layer" class="btn">Add Layer</button>
        </div>

        <div id="layer-tree">
          <ul id="local-layers"></ul>
          <ul id="remote-layers"></ul>

          <div id="editor-wrapper">
            <div class="row-fluid">
              <div class="span2">
                <button id="newStyle" class="btn">New Style</button>
              </div>

              <div class="span2" id="style-selector">
              </div>

            </div>

            <div>
              <textarea id="code"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>


  <script src="components/jquery/jquery.min.js"></script>
  <script src="components/underscore/underscore-min.js"></script>
  <script src="components/backbone/backbone-min.js"></script>
  <script src="components/bootstrap/js/bootstrap.min.js"></script>
  <script src="components/openlayers/OpenLayers.js"></script>


  <script src="components/codemirror/lib/codemirror.js"></script>
  <script src="components/codemirror/mode/yaml/yaml.js"></script>

  <script id="mapInfoTemplate" type="text/template">
    <div>
      <p>Map title: <%= title %></p>
      <p>Zoom level: <%= zoom %></p>
    </div>
  </script>

  <script id="edit-properties-template" type="text/template">

    <div class="modal-body">

      <form class="form-horizontal">

        <div class="control-group">
          <label class="control-label">Title</label>
          <div class="controls">
            <input type="text"
                   name="title" 
                   value="<%= title %>">
          </div>
        </div>


        <div class="control-group">
          <label class="control-label">About</label>
          <div class="controls">
            <textarea name="about"><%= about %></textarea>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label">Projection</label>
          <div class="controls">
            <input type="text" 
                   name="projection" 
                   value="<%= projection %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Background color</label>
          <div class="controls">
            <input type="color" 
                   name="bgcolor"
                   value="<%= bgcolor %>">
          </div>
        </div>


      </form>

    </div>

    <div class="modal-footer">
      <button class="btn" id="save">Save map</button>
      <button class="btn" id="close">Close</button>
    </div>
  </script>





  <script id="layerEditTemplate" type="text/template">
    <div class="modal-body">

      <form class="form-horizontal">

        <div class="control-group">
          <label class="control-label">Layer name</label>
          <div class="controls">
            <input type="text" name="name" value="<%= layer.name %>" />
          </div>
        </div>

        <div class="control-group">

          <div class="control-label">
            <label class="control-label">About layer</label>
            <div class="controls">
              <textarea name="about"><%= layer.about %></textarea>
            </div>
          </div>

        </div>

        <div class="control-group">
          <label class="control-label">Select layer's style</label>
          <div class="controls">

            <select name="style">
              <% _.each(styles, function (style) { %>
                  <% if (layer.style === style.name) { %>
                  <option value="<%= style.name %>" selected><%= style.name %></option>
                  <% } else { %>
                  <option value="<%= style.name %>"><%= style.name %></option>
                  <%} %>
              <% }); %>
            </select>

          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <a href="#" id="delete" class="btn">Delete</a>
      <a href="#" id="update" class="btn">Update</a>
      <a href="#" id="close" class="btn">Close</a>
    </div>
  </script>




  <script id="layerTreeTemplate" type="text/template">
    <div>
      <input class="toggle-view-p" <%= visible ? 'checked' : '' %> type="checkbox" />
      <a class="show-metadata" href="#"><%= name %></a>
    </div>
  </script>




  <script id="styleSelectorTemplate" type="text/template">

    <select>
      <option>-----</option>
    <% _.each(styles, function (style) { %>
         <option data-name="<%= style.name %>"><%= style.name %></option>
    <% }); %>
    </select>

  </script>

  <script src="src/index.js"></script>

</body>
</html>
